<ng-container>
  <div class="container">
    <div class="inputs">
      <div>
        <h3 class="mr-8">Input</h3>
        <input id="input" type="text" [value]="inputSignal()" (change)="updateInput($event)" />
      </div>
      <div>
        <h3 class="mr-8">Key</h3>
        <input id="key" type="text" [value]="keySignal()" (change)="updateKey($event)"/>
      </div>

      <button type="button" [disabled]="inputSignal() === '' || keySignal() === ''" (click)="encrypt()">Encrypt</button>

      <div>
        <h3 class="mr-8">Output</h3>
        {{ outputSignal() }}
      </div>
    </div>
  </div>
</ng-container>